@font-face {
    font-family: 'Gilroy';
    src:
        url('/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('/assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Gilroy';
    src:
        url('/fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('/fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Gilroy';
    src:
        url('/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'Gilroy';
    src:
        url('/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1472px;

    --font-*: initial;
    --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-gilroy: Gilroy, sans-serif;

    --color-*: initial;
    --color-transparent: transparent;
    --color-current: currentColor;
    --color-white: #ffffff;

    --color-black: #171718;
    --color-black-dark: #232324;

    --color-primary: #335cff;

    --color-gray-100: #fafbfc;
    --color-gray-200: #f9fafb;
    --color-gray-300: #e2e8f0;
    --color-gray-400: #f5f7fa;
    --color-gray-500: #b9bec6;
    --color-gray-600: #9ca3af;
    --color-gray-700: #6b7280;
    --color-gray: #525866;

    --color-danger: #ef4444;
    --color-danger-light: #fee2e2;

    --color-success: #22c55e;
    --color-success-light: #dcfce7;

    --color-warning: #eab308;
    --color-light-theme: #f4f7ff;
    --color-light-orange: #ffedd5;
    --color-light-blue: #e0f2fe;
    --color-light-purple: #f3e8ff;

    --shadow-3xl:
        0 1px 2px 0 rgba(95, 74, 46, 0.08), 0 0 0 1px rgba(227, 225, 222, 0.4);
    --shadow-sm: 0 1px 2px 0 rgba(113, 116, 152, 0.1);

    --animate-accordion-down: accordion-down 0.3s ease-out;
    --animate-accordion-up: accordion-up 0.3s ease-out;
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }
    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
    @keyframes caret-blink {
        0%,
        70%,
        100% {
            opacity: 1;
        }
        20%,
        50% {
            opacity: 0;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

@layer base {
    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .gradient-bar {
        background: linear-gradient(
            133deg,
            rgba(236, 196, 64, 0.2) 0%,
            rgba(255, 250, 138, 0.2) 33%,
            rgba(221, 172, 23, 0.2) 68%,
            rgba(255, 255, 149, 0.2) 100%
        );
    }
    .gradient-border {
        background: linear-gradient(
            133deg,
            #ecc440 0%,
            #fffa8a 33%,
            #ddac17 68%,
            #ffff95 100%
        );
    }
}

.sidebar .nav-link {
    @apply text-gray flex items-center gap-2.5 px-5 py-2.5 text-sm leading-tight font-medium transition hover:text-black dark:text-gray-500 dark:hover:text-white;
}

.sidebar .submenu > li > a {
    @apply hover:bg-light-theme hover:text-primary flex items-center gap-1.5 rounded-lg px-2 py-1 font-medium text-gray-700 transition dark:text-gray-600 dark:hover:bg-[#818CF8]/[6%] dark:hover:text-white/90;
}

.sidebar .nav-link span {
    @apply whitespace-nowrap transition-all;
}

.nav-item.sub-menu-active {
    @apply bg-light-theme !text-primary dark:bg-[#818CF8]/[6%] dark:!text-white/90;
}
.nav-item.active {
    @apply !text-black dark:!text-white;
}

.sidebar.closed {
    @apply w-[260px] lg:w-[60px];
}
.sidebar.closed h3 {
    @apply rounded-none;
}
.sidebar.closed h3 .new-badge {
    @apply lg:hidden;
}
.sidebar.closed h3 > span {
    @apply lg:hidden;
}
.sidebar.closed h3 > svg {
    @apply lg:block;
}
.sidebar.closed .submenu {
    @apply lg:hidden;
}

.sidebar.closed .nav-link span {
    @apply lg:invisible lg:w-0;
}
.sidebar.closed .sidemenu {
    @apply px-2.5 lg:px-0;
}
.sidebar.closed .upgrade-menu {
    @apply hidden;
}
.sidebar.open {
    @apply ltr:left-0 rtl:right-0;
}
#overlay.open {
    @apply block;
}

/* Documentation page */
.header-menu.open {
    @apply right-0;
}

/* Horizontal layout */
.horizontal header .sidebar {
    @apply lg:flex;
}
.horizontal #sidebar {
    @apply ltr:lg:-left-full rtl:lg:-right-full;
}
.horizontal #main-content {
    @apply lg:mt-[122px] ltr:ml-0 rtl:mr-0;
}

.horizontal header .sidebar {
    scrollbar-width: thin;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* Boxed layout */
.box-layout .main-content,
.box-layout header {
    @apply mx-auto w-full max-w-[1400px];
}
.box-layout .sidebar {
    @apply ltr:lg:left-auto rtl:lg:right-auto;
}

/* Collapsible layout */
.collapsible #main-content {
    @apply ltr:lg:ml-[60px] rtl:lg:mr-[60px];
}

/* Text Editor */
.quill {
    @apply rounded-lg;
}
.ql-editor {
    @apply font-plus-jakarta max-h-[300px] overflow-y-auto text-sm !font-medium !break-all text-black dark:text-white;
}
.ql-editor.ql-editor::before {
    @apply !text-sm/6 !font-medium !not-italic;
}
.quill .ql-container.ql-snow,
.ql-toolbar.ql-snow {
    @apply !border-0;
}
.quill .ql-toolbar.ql-snow {
    @apply rounded-t-lg !border-b border-gray-300 bg-gray-200 p-0 dark:border-white/20 dark:bg-black/5;
}
.product-editor.quill .ql-editor {
    @apply min-h-28 resize-y;
}
.quill .ql-toolbar.ql-snow .ql-formats {
    @apply mr-0 space-x-2.5 border-r border-gray-300 p-2.5 dark:border-white/20;
}
.quill .ql-toolbar.ql-snow .ql-formats:last-child {
    @apply border-0;
}
.ql-picker-label {
    @apply p-0;
}
.ql-picker-label svg {
    @apply rtl:!right-auto rtl:left-0;
}
.quill .ql-toolbar.ql-snow .ql-formats > button {
    @apply grid size-5 place-content-center p-0;
}
.quill .ql-toolbar.ql-snow .ql-formats > button > svg {
    @apply size-4;
}
.blog-editor.quill .ql-editor {
    @apply min-h-64 resize-y;
}
.toggle-editor.quill .ql-editor {
    @apply min-h-60 resize-none bg-white py-7 sm:min-h-32;
}
.ql-formats {
    @apply h-10 border-b border-gray-300 sm:border-0;
}
.toggle-editor.quill .ql-editor {
    @apply dark:bg-black-dark;
}
.ql-editor.ql-blank::before {
    @apply !text-gray dark:!text-gray-600;
}
.ql-formats .ql-stroke,
.ql-formats button {
    @apply dark:!stroke-gray-600 dark:text-gray-600;
}
.ql-picker-item:hover {
    @apply dark:!text-primary;
}
.ql-picker-options {
    @apply dark:!bg-black-dark dark:!border-gray-700/50;
}
.ql-formats button.ql-active {
    @apply !text-primary;
}
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}

.CollapsibleContent {
    overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
}
